<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre %>
</p>

<p>
  <strong>Tag1:</strong>
  <%= @artist.tag1 %>
</p>

<p>
  <strong>Tag2:</strong>
  <%= @artist.tag2 %>
</p>

<p>
  <strong>Tag3:</strong>
  <%= @artist.tag3 %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
