<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Requester:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @request.genre %>
</p>

<p>
  <strong>Tag1:</strong>
  <%= @request.tag1 %>
</p>

<p>
  <strong>Tag2:</strong>
  <%= @request.tag2 %>
</p>

<p>
  <strong>Reference:</strong>
  <%= link_to(@request.reference,@request.reference) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<br>
<p>
<h3>Proposte di Commissione</h3>
<% if @request.commissions.empty? %>
  <p></p>
<% else %>
  <p>
    <% @request.commissions.each do |r| %>
      <strong><%= Artist.find(r.artist_id).name%>:</strong>
      <%= r.prize%>€,  
      <%= r.details %>
      <br>
    <% end %>
  </p>
<% end %>
</p>



<br><br><br>

<h2> Aggiungi proposta di Commissione </h2>
<%if can? :create, Commission %>
    <%= form_with model: [ @request, @request.commissions.build ] do |form| %>
      <p>
        <strong><%= form.label :details, "Dettagli" %></strong><br>
        <%= form.text_area :details %>
      </p>

      <p>
        <strong><%= form.label :prize, "Prezzo" %></strong><br>
        <%= form.number_field :prize, in: 10..100.0, step: 0.5 %>
      </p>

      <p>
        <strong><%= form.label :artist %></strong><br>
        <%= form.collection_select :artist, Artist.all, :id, :name %>
      </p>
      <p>
        <%= form.submit "Aggiungi proposta" %>
        </p>
    <% end %>
<%else%>
  <u>Non sei un Artista, non puoi fare proposte per una commissione.</u>
<% end %>

<br><br>
<%= link_to 'Edit', edit_request_path(@request) %>
<%= link_to 'Back', requests_path %>
<br>




