<p id="notice"><%= notice %></p>

<p>
  <strong>Voto:</strong>
  <%= @review.voto %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.author_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @review.test %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
